<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar1">
            <app-navbar></app-navbar>
        </div>
        <div class="col-md-10 col-sm-8 main-content">
          <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Cedula</th>
        <th scope="col">Edad</th>
        <th scope="col">Sexo</th>
        <th scope="col">Fecha De Nacimiento</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{paciente.firstname}}</td>
        <td>{{paciente.lastname}}</td>
        <td>{{paciente.identifier}}</td>
        <td>{{paciente.age}}</td>
        <td>{{paciente.gender}}</td>
        <td>{{paciente.birthdate | date}}</td>
      </tr>
    </tbody>
  </table>
    <button class="btn2 btn-1 btn-1e">Añadir Historia</button>
      <button class="btn2 btn-1 btn-1e">Ver Historia</button>
        <button class="btn2 btn-1 btn-1e">Regresar</button>
        </div>
    </div>
</div>
