<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-4 sidebar1">
      <app-navbar></app-navbar>
    </div>
<div class="col-md-10 col-sm-8 main-content">
  <h1>Hola {{currentUser.name}}!</h1>
  <p>Probando</p>
  <h3>Lista de usuarios:</h3>
  <ul>
      <li *ngFor="let user of users">
          {{user.username}} ({{user.name}} {{user.cedula}})
          <!-- - <a (click)="deleteUser(user._id)">Delete</a> -->
      </li>
  </ul>

  <h3>links provicionales</h3>
  <div class="btn-group-vertical">
    <button [routerLink]="'/rpaciente'" type="button" class="btn btn-secondary">Registrar Paciente</button>
    <button [routerLink]="'/apaciente'" type="button" class="btn btn-secondary">Asignar Paciente  </button>  
    <button [routerLink]="'/pacientes'" type="button" class="btn btn-secondary">Ver Pacientes  </button>  
    <button [routerLink]="'/home'"      type="button" class="btn btn-secondary">mas...  </button>  
  </div>
  <p><a [routerLink]="['/login']">Desconectar</a></p>
</div>
</div>
</div>