
<div class="container-fluid">
  <div class="row">
      <div class="col-md-2 col-sm-4 sidebar1">
          <app-navbar></app-navbar>
      </div>
      <div class="col-md-10 col-sm-8 main-content">
        <div class="text-center">
            <h2>Historia clinica del paciente: {{paciente.firstname || "Prueba"}} {{paciente.lastname}}</h2>
        </div>
        <div class="container">
          <form>     
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{paciente.firstname || "paciente no definido"}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Apellido:</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{paciente.lastname || "paciente no definido"}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Cedula:</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{paciente.Cedula || "paciente no definido"}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Fecha de nacimiento:</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{paciente.fechaNacimiento || "paciente no definido"}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Edad:</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{paciente.edad || "paciente no definido"}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Telefono:</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{paciente.telefono || "paciente no definido"}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Fecha registro:</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{paciente.fecharegistro || "paciente no definido"}}</p>
              </div>
            </div>
            <hr>
            <br>
            <h5 class="text-center">AMNESTESIA</h5>
            <hr>
            <div class="scrollBarClass">

              <label>¿Alteraciones cardiovasculares?</label>
              <div class="form-group row">
                <div class="form-check form-check-inline">
                  <label class="form-check-label col-2 col-form-label">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label col-2 col-form-label">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Hemorragias o sangrados frecuentes?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Anemia u otra alteracion sanguinea?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Enfermedades renales?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Enfermedades epaticas?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Asma o alguna enfermedad para respirar?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Enfermedades Respiratorias?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Diabetes Mellitus?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿hipertension?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Dolores de cabeza frecuentes,migrañas, jaquecas?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Fiebre reumatica?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Enfermedades infecciosas?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Enfermedades de transmision sexual?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Enfermedades gastrointestinales?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Dolores de oidos frecuentes o zumbidos?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Se le inflaman los pies o las articulaciones frecuentemente?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Enfermedades de los senos paranasales (sinusitis)?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Respirador bucal?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Padece usted alguna enfermedad congenita?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Tiene algun tipo de desarreglo hormonal?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <hr>
            <br>
            <h5 class="text-center">Historia General</h5>
            <hr>
            <label>¿Alguna vez ha estado gravemente enfermo?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Ha sido intervenido quirurgicamente?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Toma mas de ocho vasos de agua al dia?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            <label>¿Toma frecuentemente aspira o similar?</label>
            <div class="form-group row">
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label col-2 col-form-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
              <div class="col-6">
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
          </div>
            
          </form>
        </div>
        <button [routerLink]="'/home'" class="btn btn-outline-danger btn-block">REGRESAR</button>
  </div>
</div>