<div class="text-center" style="padding:50px 0">
        <div class="logo">Registrar</div>
        <!-- Main Form -->
        <div class="login-form-1">
                <alert></alert>
            <form name="form" (ngSubmit)="f.form.valid && registrar()" #f="ngForm" novalidate id="register-form" class="text-left">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                            <label for="reg_username" class="sr-only">Nombre</label>
                            <input type="text" class="form-control" id="reg_username" name="firstname" placeholder="Nombre" [(ngModel)]="model.firstname" #firstname="ngModel" required >
                        </div>
                        <div *ngIf="f.submitted && !firstname.valid" class="help-block">Nombre requerido</div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                            <label for="reg_password" class="sr-only">Apellido</label>
                            <input type="text" class="form-control" id="reg_password" placeholder="lastname" name="apellido" [(ngModel)]="model.lastname" #lastname="ngModel" required>
                        </div>
                        <div *ngIf="f.submitted && !lastname.valid" class="help-block">apellido requerido</div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                            <label for="reg_email" class="sr-only">Cedula</label>
                            <input type="text" class="form-control" id="reg_email" placeholder="identifier" name="identifier" [(ngModel)]="model.identifier" #identifier="ngModel" required>
                        </div>
                        <div *ngIf="f.submitted && !identifier.valid" class="help-block">Cedula requerida</div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                            <label for="reg_fullname" class="sr-only">Usuario</label>
                            <input type="text" class="form-control" name="username" placeholder="Usuario" [(ngModel)]="model.username" #username="ngModel" required >
                        </div>
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Usuario requerido</div>
                        <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            <label for="reg_password_confirm" class="sr-only">Contraseña</label>
                            <input type="password" class="form-control" name="password" placeholder="Contraseña" [(ngModel)]="model.password" #password="ngModel" required>
                        </div>
                        <div *ngIf="f.submitted && !password.valid" class="help-block">contraseña requerida</div>
                    </div>
                    <button [disabled]="loading" type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                    </div>
                <div class="etc-login-form">
                    <p>Regresar <a [routerLink]="['/home']">Click Aqui</a></p>
                </div>
            </form>
            
        </div>
        <!-- end:Main Form -->
