<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar1">
            <app-navbar></app-navbar>
        </div>
    <div class="col-md-10 col-sm-8 main-content">
        <div class="container text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <alert></alert>
                <div class="col-md-12">
                    <h2>Registrar</h2>
                    <form name="form" (ngSubmit)="f.form.valid && registrarPaciente()" #f="ngForm" novalidate>
                        <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !identifier.valid }">
                            <label for="nombre">Nombre:</label>
                            <input placeholder="Primer nombre" type="text" class="form-control" name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" required />
                            <div *ngIf="f.submitted && !firstname.valid" class="help-block">Nombre requerido</div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !identifier.valid }">
                            <label for="apellido">Apellido:</label>
                            <input placeholder="Apellidos" type="text" class="form-control" name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" required />
                            <div *ngIf="f.submitted && !lastname.valid" class="help-block">Apellido requerido</div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !identifier.valid }">
                            <label for="telefono">telefono:</label>
                            <input placeholder="Telefono" type="tel" class="form-control" name="telephone" [(ngModel)]="model.telephone" #telephone="ngModel" required />
                            <div *ngIf="f.submitted && !telephone.valid" class="help-block">Telefono requerido</div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !identifier.valid }">
                            <label for="cedula">Cedula:</label>
                            <input placeholder="Cedula" type="text" class="form-control" name="identifier" [(ngModel)]="model.identifier" #identifier="ngModel" required />
                            <div *ngIf="f.submitted && !identifier.valid" class="help-block">Cedula requerida</div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !identifier.valid }">
                            <label for="fecha">fecha de nacimiento:</label>
                            <input placeholder="YYYY/MM/DD" type="text" class="form-control" name="birthdate" [(ngModel)]="model.birthdate" #birthdate="ngModel" required />
                            <div *ngIf="f.submitted && !birthdate.valid" class="help-block">Fecha requerida</div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !identifier.valid }">
                            <label for="edad">Edad:</label>
                            <input placeholder="Edad" type="text" class="form-control" name="age" [(ngModel)]="model.age" #age="ngModel" required />
                            <div *ngIf="f.submitted && !age.valid" class="help-block">Edad requerida</div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !identifier.valid }">
                            <div *ngFor="let s of sexos" class="form-check form-check-inline">
                                <label class="form-check-label col-2 col-form-label">
                                    <input class="form-check-input" type="radio" name="gender" [(ngModel)]="model.gender" value="{{s}}"> {{s}}
                                </label>
                            </div>
                        </div>
                          <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !identifier.valid }">
                              <label for="direccion">direccion 1:</label>
                              <input placeholder="Direccion corta" type="text" class="form-control" name="address" [(ngModel)]="model.address" #address="ngModel" required />
                              <div *ngIf="f.submitted && !direccion.valid" class="help-block">Direccion requerido</div>
                          </div>
                          <br>
                          <hr>
                          <h5>Semestres por los que sera atendidos</h5>
                          <hr>
                          <div *ngFor="let semestre of semestres;let i = index">
                                <label>{{semestre.name}}</label>
                                <div class="form-group row">
                                    <div *ngFor="let v of values" class="form-check form-check-inline">
                                        <label class="form-check-label col-2 col-form-label">
                                            <input class="form-check-input" type="radio" name="semester{{i}}" [(ngModel)]="semestre.value" value="{{v}}"> {{v}}
                                        </label>
                                    </div>
                                 </div>  <!-- fin del form-group -->
                                   <div *ngIf="semestre.value == 'si'" class="form-group row">
                                         <label for="example-search-input" class="col-2 col-form-label">Especifique</label>
                                         <div class="col-6">
                                           <textarea [(ngModel)]="semestre.specify" class="form-control" name="specify{{i}}" rows="3"></textarea>
                                         </div>
                                    </div>
                               </div>  <!-- Fin del ngFor -->
                          <div class="form-group">
                              <button [disabled]="loading" class="btn btn-primary">Register</button>
                              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                              <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
