<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar1">
            <app-navbar></app-navbar>
        </div>
        <div class="col-md-10 col-sm-8 main-content">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                        <li *ngFor="let paciente of pacientes">
                                {{paciente.username}} ({{paciente.name}} {{paciente.cedula}})
                                <!-- - <a (click)="deleteUser(user._id)">Delete</a> -->
                        </li>
                  </div>
                  <div class=="col-md-6">
                        <li *ngFor="let user of users">
                                {{user.username}} ({{user.name}} {{user.cedula}})
                                <!-- - <a (click)="deleteUser(user._id)">Delete</a> -->
                        </li>
                  </div>
              </div>
          </div>
          <button [routerLink]="'/home'" class="btn btn-outline-danger btn-block">REGRESAR</button>
        </div>
    </div>