<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar1">
            <app-navbar></app-navbar>
        </div>
        <div class="col-md-10 col-sm-8 main-content">
          <div class="container">
                <div class="row">                
                        <div class="card-columns" style="margin-bottom: 10px;">
                                <div *ngFor="let user of users;let i = index" class="card">
                                    <div class="card-block">
                                        <h4 class="card-title">{{user.firstname}} {{user.lastname}}</h4>
                                        <p class="card-text">C.I: {{user.identifier}} <br>
                                            Semestre: {{user.semester}} <br>
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <button (click)="asignarPaciente(user._id)" class="btn btn-outline-primary btn-block"><i class="fa fa-plus" aria-hidden="true"></i> Asignar</button>
                                    </div>
                                </div>
                        </div>
                    </div>
              </div>
              <button [routerLink]="'/home'" class="btn btn-outline-danger btn-block">REGRESAR</button>
        </div>
    </div>
</div>