        <div class="logo text-center">
          <img src="http://www.cristalim.cl/images/productos/1302115128/gr_servilletas1.jpg" class="img-responsive img-thumbnail" alt="Logo">
        </div>
        <br>
        <div class="nav flex-columm">

          <div class="left-navigation">
            <ul class="list">
              <h5><strong>Pacientes</strong></h5>
              <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="'/rpaciente'" class="nav-link">Registrar Paciente</a>
              </li>
              <!-- <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="'/crear'" class="nav-link">Crear Historia Pac.</a>
              </li> -->
              <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="'/pacientes'" class="nav-link">Lista de Pacientes</a>
              </li>
              <!-- <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="'/apaciente'" class="nav-link">Asig. Paciente a estudiante</a>
              </li> -->
            </ul>
            <br>
            <ul class="list">
              <h5><strong>Usuarios</strong></h5>
              <li class="nav-item" routerLinkActive="active">
                  <a [routerLink]="'/register'" class="nav-link">Registrar Usuario</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                  <a [routerLink]="'/home'" class="nav-link">Ver Usuarios</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                  <a [routerLink]="'/login'" class="nav-link">Salir</a>
                </li>
            </ul>
          </div>  
        </div>